.nav{
    display: flex;
    height: 70px;
    justify-content: space-between;
    // position: fixed;
    .navlogo{
        margin: 0 500px 0 0;
        img{
            z-index: 1000000;
        }
    }
    .togglecollapse{
        position: absolute;
        top: 0%;
        width: 90%;
        cursor: pointer;
        // display: none;
        .toggleicons{
            display: flex;
            justify-content: flex-end;
            padding: 2rem 1rem;
        }
    }
    .navitems{
        padding: 0 20px;
        list-style:none;
        text-decoration: none;
        .items{
            margin: 20px;
            display: flex;
            padding: 0 20px;
            li{
                margin: 0 10px;
                padding: 5px 20px;
                border: orange 1px solid;
                border-radius: 20px;
                list-style:none;
                position:relative;

            }
            li:hover{
                background-color: orange;
                color: white;
            }
            .menu:hover{
                .submenu{
                    display: flex;
                    flex-direction: column;
                    position: absolute;
                    left: 10px;
                    top: 32px;
                    z-index: 1000;
                    padding: 5px;
                    background-color: rgb(197, 197, 197);
                    li{
                        margin: 2px ;
                        padding: 5px;
                        border: none;
                        border-radius: 0px;
                        list-style:none;
                        position:relative;
        
                    }
    
                    // display: none;
                }
            }
            .submenu{
    
                display: none;
            }
        }

    }
}

@media only screen and (max-width:750px){
	
	.nav{
		overflow: hidden;
        height: 60px;
        .navitems{
            ul{
                padding-top: 100px;
                flex-direction: column;
            }
        }
	}
    .toggle-collapse{
        display: initial;
    }

}