.nav{

    background: #ffffff;
    padding: 0 2rem;
    height: 4.25rem;
    transition: height 1s ease-in-out;
    
    .nav-menu{
        justify-content: space-between;

        
        .toggle-collapse{

            position: absolute;
            top: 0%;
            width: 90%;
            cursor: pointer;
            display: none;

            .toggle-icons{
                display: flex;
                justify-content: flex-end;
                padding: 2rem 1rem;
            }

        }

        .nav-items{

            ul{
                list-style-type: none;
                display: block;
                list-style-type: disc;
                margin-block-start: 1em;
                margin-block-end: 1em;
                margin-inline-start: 0px;
                margin-inline-end: 0px;
                padding-inline-start: 40px;

                a{
                    margin: auto;
	                display: block;
                    text-decoration: none;
                    color: black;
	                padding: .9rem 1.5rem;
                }
                a:hover{
                    background-color: #f18d13;
	                color: white;
                }
                .nav-link{
                    font-size: 1.1rem;
                    position: relative;
                    font-family: 'Roboto', sans-serif;
                }
                
            }

        }
    }

    .row{
        display: flex;
	    flex-wrap: wrap;
    }
    .collapse{
        height:30rem;
    }
}
