@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
.mainLaw{
    
    font-family: 'Poppins', sans-serif;
    .lawHeader{
        margin-top: 5%;
        position: relative;

        img{
            width: 100%;
            height: 40vh;
            object-fit: cover;

        }
        .mainText{

            position: absolute;
            left: 50%;
            top: 50%;
            color: white;

            .spanText{

                color: brown;

            }

            .spanTextToo{
                color: purple;
            }
        }

    }
    .vidWrapper{

        margin-top: 5%;
        display: grid;
        grid-template-columns: 20% 80%;

        .hoverlist{

            margin-top: 15%;
            line-height: 2rem;

            ul{
                .upArrow{

                    background-image: url('../../assets/upArrow.png');
                    background-repeat: no-repeat;
                    background-position: left;
                }

                li{

                    border-bottom: 2px solid #c7c7c7;
                    max-width: 10rem;

                    a{

                        text-decoration: none;
                        padding-left: 1rem;
                        color: #000000;
                    }
                    .active{
                        font-weight: bolder;
                    }
                }
     
            }
            
        }
        .landingOne{
                
            .firstHeading{
                background-image: url('../../assets/TitleArrows.png');
                background-repeat: no-repeat;
                background-position: left;
               
                h2{
                    border-bottom: 2px solid #c7c7c7;
                    max-width: 30rem;
                    padding-left: 2rem;
                }
               
            }
            p{
                line-height: 2rem;
            }
        }
        .video{
            display: grid;
            grid-template-columns: 40% 60%;
            
            .vidHeading{
                padding-left: 4rem;

                .vidIcon{

                    display: flex;
                    a{
                        text-decoration: none;
                        color: #000000;
                    }    

                    .icon{
                        
                        margin-top: 5.5%;
                        margin-right: 2%;
                        
                    }

                }

            }
            .vidElement{
                padding: 2rem;
                margin: auto;
                
            }

        }

    }

}